body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}
header {
  font-size: 34px;
  background-color:#3a3a7c;
  width: 100%;
  height:51px;
  text-align: center;
  color: #fff;
  padding: 20px 0;

}
.main-div{
    font-size: 25px;
    border:3px solid #3a3a7c;
    padding: 30px 20px;
    gap: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:20px 0px;
}
input{
    height: 40px;
    width: 50%;
    border-color: blueviolet;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
button{
    height:50px;
    width:50px;
    cursor: pointer;
    font-weight: bold;
    margin:10 20px;
    font-size: 30px;
    background-color:#3a3a7c;
    color: #fff;

}
button:hover{
    background-color:#8fc6c9;
    border: 0;
    color: violet;
}
.view{
    display: none ;
}
.size{
 gap:1px;
}